* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logo {
    width: 200px;
}

nav {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 1px 2px #eee;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.options {
    padding: 5px;
    margin: 5px;
    color: grey;
    cursor: pointer;
}

.menu-logo {
    cursor: pointer;
}


#front-image {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#front-image img {
    max-width: 90%;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

button{
    padding: 8px;
    margin-top: 10px;
}

h1{
    font-size: 3em;
}